/****** Custom Styles ******/
body {
    background: black;
}

#wrapper {
    background: white;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0px;
    min-height: 400px;
    overflow: auto;
}