/****** Custom Styles ******/
body {
    background: black;
}

#wrapper {
    background: white;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 0 20px;
    min-height: 400px;
    overflow: auto;
}

nav {
    min-height: 34px;
    background: white;
    border: 1px solid black;
    border-width: 0 0 1px;
    font-size: 20px;
    padding: 0 20px 0;
}

nav ul {
    list-style: none;
    min-height: 34px !important;
    line-height: 34px !important;
    display: inline;
    margin: 0 !important;
    padding: 0 !important;
}

nav li {
    display: inline-block;
    float: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


#signin-register-add input {
    width: 70%;
}

#signin-register-add input[type=submit] {
    width: 150px;
}


#admin-dashboard-table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px 0 0;
}

#admin-dashboard-table th, #admin-dashboard-table td {
    padding: 10px;
    border: 1px solid black;
    border-width: 0 1px 0 0;
}

.no-border {
    border: none !important;
}

#admin-dashboard-table thead tr {
    background: #ccc;
}

#admin-dashboard-table tbody tr:nth-child(odd) {
    background: #eee;
}

.clear {
    clear: both;
}

.error {
    color: red;
}

.success {
    color: green;
}

#nav-user-name {
    padding: 0 40px 0 0;
}